@model Perpustakaan.Models.Notum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Pinjam</h1>

<h4>Notum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNota" />
            <div class="form-group">
                <label  class="control-label">Peminjam</label>
                <select asp-for="IdPeminjam" class="form-control" asp-items="ViewBag.IdPeminjam"></select>
                <span asp-validation-for="IdPeminjam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Admin</label>
                <select asp-for="IdAdmin" class="form-control" asp-items="ViewBag.IdAdmin"></select>
                <span asp-validation-for="IdAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tanggal Deadline</label>
                <input asp-for="TglDeadline" class="form-control" />
                <span asp-validation-for="TglDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tanggal Pinjam</label>
                <input asp-for="TglPinjam" class="form-control" />
                <span asp-validation-for="TglPinjam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tanggal Kembali</label>
                <input asp-for="TglKembali" class="form-control" />
                <span asp-validation-for="TglKembali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Denda</label>
                <input asp-for="Denda" class="form-control" />
                <span asp-validation-for="Denda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
