@model Perpustakaan.Models.Pinjaman

@{
    ViewData["Title"] = "Create";
}

<h1>Create Detail Pinjaman</h1>

<h4>Pinjaman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">ID Nota</label>
                <select asp-for="IdNota" class ="form-control" asp-items="ViewBag.IdNota"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">ID Buku</label>
                <select asp-for="IdBuku" class ="form-control" asp-items="ViewBag.IdBuku"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Jumlah</label>
                <input asp-for="Jumlah" class="form-control" />
                <span asp-validation-for="Jumlah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
